h1 { 
  font-family: 'Roboto Medium', sans-serif;
	position: relative;
	text-align: center;
	color: #635ddd;
}

h2 { 
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
	position: relative;
	text-align: left;
	color: black;
  margin-left: 150px;
  margin-right: 150px;
}


.btn {
  font-family: 'Roboto Black', sans-serif;
  text-decoration: none;
  color: #49aaff;
}

.btn:hover {
  background: #635ddd;
  text-decoration: none;
  border-radius: 39px;
  padding: 5px 5px 5px 5px;
  color: #ffffff;
  -webkit-border-radius: 39;
  -moz-border-radius: 39;
}

